<component name="ArtifactManager">
  <artifact type="war" name="springweb:war">
    <output-path>$PROJECT_DIR$/../spring+mybatis/springweb/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springweb</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springweb-1.0.war">
      <element id="artifact" artifact-name="springweb:war exploded" />
    </root>
  </artifact>
</component>